-- CreateTable
CREATE TABLE "cms_pages" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "title" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "content" TEXT NOT NULL DEFAULT '',
    "metaTitle" TEXT NOT NULL DEFAULT '',
    "metaDescription" TEXT NOT NULL DEFAULT '',
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "pageKey" TEXT NOT NULL DEFAULT '',
    "sections" TEXT NOT NULL DEFAULT '{}',
    "keywords" TEXT NOT NULL DEFAULT '',
    "ogTitle" TEXT NOT NULL DEFAULT '',
    "ogDescription" TEXT NOT NULL DEFAULT '',
    "ogImage" TEXT NOT NULL DEFAULT '',
    "canonicalUrl" TEXT NOT NULL DEFAULT '',
    "createdAt" DATETIME NOT NULL,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "cms_page_versions" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "page_id" INTEGER NOT NULL,
    "version_no" INTEGER NOT NULL,
    "content" TEXT NOT NULL,
    "created_by" INTEGER,
    "created_at" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "cms_media" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "name" TEXT NOT NULL,
    "mimeType" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "createdBy" INTEGER,
    "createdAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "User" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "role" TEXT NOT NULL DEFAULT 'CLIENT',
    "firstName" TEXT NOT NULL,
    "lastName" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "phone" TEXT,
    "passwordHash" TEXT,
    "googleId" TEXT,
    "avatarUrl" TEXT,
    "companyName" TEXT,
    "companyWebsite" TEXT,
    "industry" TEXT,
    "teamSize" TEXT,
    "companyDescription" TEXT,
    "address" TEXT,
    "professionalCategory" TEXT,
    "professionalCity" TEXT,
    "professionalSkillsJson" TEXT,
    "experienceYears" INTEGER,
    "hourlyRate" INTEGER,
    "fixedRate" INTEGER,
    "portfolioUrl" TEXT,
    "workPhotosJson" TEXT,
    "certificationsJson" TEXT,
    "tradeLicenseUrl" TEXT,
    "serviceArea" TEXT,
    "workMode" TEXT NOT NULL DEFAULT 'both',
    "serviceRadiusKm" INTEGER,
    "averageRating" REAL NOT NULL DEFAULT 0,
    "reviewCount" INTEGER NOT NULL DEFAULT 0,
    "isVerified" BOOLEAN NOT NULL DEFAULT false,
    "availabilityStatus" TEXT NOT NULL DEFAULT 'available',
    "savedLocationsJson" TEXT,
    "hiringNeedsJson" TEXT,
    "authProvider" TEXT NOT NULL DEFAULT 'LOCAL',
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "lastLoginAt" DATETIME,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "ClientProfile" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "userId" INTEGER NOT NULL,
    "fullName" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "companyName" TEXT NOT NULL,
    "companyWebsite" TEXT,
    "industry" TEXT,
    "teamSize" TEXT,
    "companyDescription" TEXT,
    "address" TEXT NOT NULL,
    "profilePhotoUrl" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "ClientProfile_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "ClientSavedLocation" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "clientProfileId" INTEGER NOT NULL,
    "label" TEXT NOT NULL,
    "address" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "ClientSavedLocation_clientProfileId_fkey" FOREIGN KEY ("clientProfileId") REFERENCES "ClientProfile" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "ClientHiringNeed" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "clientProfileId" INTEGER NOT NULL,
    "value" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "ClientHiringNeed_clientProfileId_fkey" FOREIGN KEY ("clientProfileId") REFERENCES "ClientProfile" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "ClientJob" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "userId" INTEGER NOT NULL,
    "category" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "budgetMin" INTEGER,
    "budgetMax" INTEGER,
    "urgency" TEXT NOT NULL DEFAULT 'MEDIUM',
    "jobDate" DATETIME,
    "deadline" DATETIME NOT NULL,
    "workMode" TEXT NOT NULL DEFAULT 'BOTH',
    "locationLabel" TEXT,
    "locationAddress" TEXT,
    "locationLat" REAL,
    "locationLng" REAL,
    "status" TEXT NOT NULL DEFAULT 'OPEN',
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "ClientJob_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "FavoriteJob" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "userId" INTEGER NOT NULL,
    "jobId" INTEGER NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "FavoriteJob_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "FavoriteJob_jobId_fkey" FOREIGN KEY ("jobId") REFERENCES "ClientJob" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "ClientJobAttachment" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "jobId" INTEGER NOT NULL,
    "fileName" TEXT NOT NULL,
    "fileType" TEXT,
    "fileSize" INTEGER,
    "previewUrl" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "ClientJobAttachment_jobId_fkey" FOREIGN KEY ("jobId") REFERENCES "ClientJob" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "ProjectTransaction" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "trackingId" INTEGER NOT NULL,
    "milestoneId" INTEGER,
    "completionId" INTEGER,
    "clientId" INTEGER NOT NULL,
    "professionalId" INTEGER NOT NULL,
    "amount" INTEGER NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'USD',
    "type" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'COMPLETED',
    "description" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "ProjectNegotiation" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "requestId" INTEGER NOT NULL,
    "jobId" INTEGER NOT NULL,
    "clientId" INTEGER NOT NULL,
    "professionalId" INTEGER NOT NULL,
    "senderId" INTEGER NOT NULL,
    "senderRole" TEXT NOT NULL,
    "bidAmount" INTEGER,
    "duration" TEXT,
    "message" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);

-- CreateTable
CREATE TABLE "ProjectReview" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "trackingId" INTEGER NOT NULL,
    "clientId" INTEGER NOT NULL,
    "professionalId" INTEGER NOT NULL,
    "rating" INTEGER NOT NULL,
    "comment" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateIndex
CREATE UNIQUE INDEX "cms_pages_slug_key" ON "cms_pages"("slug");

-- CreateIndex
CREATE INDEX "cms_pages_slug_idx" ON "cms_pages"("slug");

-- CreateIndex
CREATE INDEX "cms_pages_status_idx" ON "cms_pages"("status");

-- CreateIndex
CREATE INDEX "cms_page_versions_page_id_idx" ON "cms_page_versions"("page_id");

-- CreateIndex
CREATE UNIQUE INDEX "cms_page_versions_page_id_version_no_key" ON "cms_page_versions"("page_id", "version_no");

-- CreateIndex
CREATE INDEX "cms_media_createdAt_idx" ON "cms_media"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "User_phone_key" ON "User"("phone");

-- CreateIndex
CREATE UNIQUE INDEX "User_googleId_key" ON "User"("googleId");

-- CreateIndex
CREATE INDEX "ClientProfile_userId_idx" ON "ClientProfile"("userId");

-- CreateIndex
CREATE INDEX "ClientSavedLocation_clientProfileId_idx" ON "ClientSavedLocation"("clientProfileId");

-- CreateIndex
CREATE INDEX "ClientHiringNeed_clientProfileId_idx" ON "ClientHiringNeed"("clientProfileId");

-- CreateIndex
CREATE INDEX "ClientJob_userId_idx" ON "ClientJob"("userId");

-- CreateIndex
CREATE INDEX "ClientJob_status_idx" ON "ClientJob"("status");

-- CreateIndex
CREATE INDEX "FavoriteJob_userId_idx" ON "FavoriteJob"("userId");

-- CreateIndex
CREATE INDEX "FavoriteJob_jobId_idx" ON "FavoriteJob"("jobId");

-- CreateIndex
CREATE UNIQUE INDEX "FavoriteJob_userId_jobId_key" ON "FavoriteJob"("userId", "jobId");

-- CreateIndex
CREATE INDEX "ClientJobAttachment_jobId_idx" ON "ClientJobAttachment"("jobId");

-- CreateIndex
CREATE INDEX "ProjectTransaction_trackingId_idx" ON "ProjectTransaction"("trackingId");

-- CreateIndex
CREATE INDEX "ProjectTransaction_clientId_idx" ON "ProjectTransaction"("clientId");

-- CreateIndex
CREATE INDEX "ProjectTransaction_professionalId_idx" ON "ProjectTransaction"("professionalId");

-- CreateIndex
CREATE INDEX "ProjectTransaction_status_idx" ON "ProjectTransaction"("status");

-- CreateIndex
CREATE INDEX "ProjectNegotiation_requestId_idx" ON "ProjectNegotiation"("requestId");

-- CreateIndex
CREATE INDEX "ProjectNegotiation_clientId_idx" ON "ProjectNegotiation"("clientId");

-- CreateIndex
CREATE INDEX "ProjectNegotiation_professionalId_idx" ON "ProjectNegotiation"("professionalId");

-- CreateIndex
CREATE UNIQUE INDEX "ProjectReview_trackingId_key" ON "ProjectReview"("trackingId");

-- CreateIndex
CREATE INDEX "ProjectReview_clientId_idx" ON "ProjectReview"("clientId");

-- CreateIndex
CREATE INDEX "ProjectReview_professionalId_idx" ON "ProjectReview"("professionalId");

